body{
    font-family: 'Montserrat', sans-serif;
}



.table-sortable th{
    cursor: pointer;
}

.table-sortable .th-sort-asc::after{
    content:  "\25b4";
}
.table-sortable .th-sort-desc::after{
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after{
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc{
    background: rgba(0, 0, 0, 0.1);
}



.text-middle{
    color: #006249;
}

.text-high{
    color: #E74C3C;
}

.text-low{
    color: #375a7f;
}


.checked{
    text-decoration: line-through;
}




/* dialog box styles */
#dialogboxoverlay{
    display: none;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 10;
}

#dialogbox{
    display: none;
    position: fixed;
    background: #000;
    border-radius: 7px;
    width: 550px;
    height: 250px;
    z-index: 10;
    text-align: center;
}

#dialogboxheader, #dialogboxbody, #dialogboxfooter{
    margin-top: 7%;
}


/* alert style */
.custom-alert-start{
    transition: 300ms;
    padding: 0;
    height: 0px;
    overflow: hidden;
    text-align: center;
}

.custom-alert-middle{
    transition: 300ms;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

